{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="main">
    <h1 class="main_news">Главные новости</h1>
    <section class="main_container">
        <div class="left_side_main">
            <div class="news_title" id="news_title_item1"></div>
            <div style="color: #00B7FF; padding-top: 15px; font-family: 'Open Sans', sans-serif;" class="news_created" id="news_created_at"></div>
            <p class="news_text" id="news_text_item1"></p>
            <button class="news_btn" id="news_btn">Подробнее</button>
            <button class="next_news" id="click_me">Далее</button>
        </div>
        <div class="right_side_main">
            <img id="news_img" src="{{ news.image.url }}" alt="news">
        </div>
    </section>
</main>
{% endblock %}
